*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store

# ignore eclipse files
.cproject
.project
.settings

# ignore out of source build
build

# ignore CMake generated zconf file
zconf.h.included